body, h1, p, nav, aside, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #007BFF;
  margin: 0 15px;
  font-weight: bold;
}

main {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

main img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
}

p {
  padding: 0;
}

aside {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
  display: block;
  margin: 10px 0;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
}

img {
  max-width: 100%;
  height: auto;
}